---
// Layouts and components
	import Layout from "@layouts/Layout.astro";
	import Category from "@components/Category.astro";
  import Share from "@components/Share.astro";

  // Data
  import categories from '@services/categories.json';

  const titlePage = 'Distribuidor de dulces, botanas y caramelos por mayoreo';
  const descriptionPage = 'Contamos con el más amplio surtido de dulces, botanas y caramelos, brindándote siempre un gran servicio y sobre todo el mejor precio. ¡Endulza tu vida!';
---


<Layout titlePage={titlePage} descriptionPage={descriptionPage}>
<main>
  <!-- Hero contact page -->
  <section class="bg-gradient-to-b from-denny-pink-100 to-denny-pink-200">
    <div class="py-8 md:py-0 container md:w-full flex flex-col md:flex-row items-center">
      <picture class="order-2 md:order-1 md:w-1/2 md:bg-pink-200 block">
        <img src="/images/nosotros/nosotros2.webp" alt="Paleta - Dulcerias Denny" class="md:w-full w-1/2 max-w-lg mx-auto object-cover">
      </picture>
      <div class="w-full md:w-1/2 md:order-2 md:-m-20 text-denny-dark-400">
        <h1 class="text-denny-dark-500 font-black text-2xl lg:text-3xl">Distribuidores de dulces, botanas y caramelos</h1>
        <h2 class="mt-2 mb-4 text-denny-blue-300 font-black text-lg lg:text-xl">Endulza tu vida con la más amplia variedad de dulces, botanas y caramelos</h2>
        <p class="mt-4 mb-2">En Dulcería Denny nuestra misión principal es endulzar la vida de nuestros clientes, a través de una variedad de productos de calidad, con un servicio diferenciado y precios competitivos.</p>
        <p>A lo largo de nuestros mas de 30 años en el mercado, nos hemos consagrado como una empresa líder en comercialización de dulces y confitería en el Bajío, trabajando con 130 marcas diferentes y contando con más de 2,000 productos disponibles para la venta en cualquiera de nuestras 24 sucursales.</p>
      </div>
    </div>
  </section>

  <!-- Rest in container -->
  <div class="container">
    <!-- Sucursales cards -->
    <section class="py-8 lg:p-0 lg:-mt-28">
      <header class="text-center">
        <h2 class="text-denny-dark-500 font-black text-xl">Visitanos</h2>
        <h3 class="text-denny-blue-100 font-black text-lg">Encuentra tu sucursal más cercana</h3>
      </header>
      <div class="flex gap-4 justify-center flex-wrap mt-4">
        <article class="shadow-md p-4 rounded-xl max-w-xs bg-white">
          <hgroup class="mb-6">
            <h2 class="">Abasolo</h2>
            <p>Lerdo de Tejada 109, Zona Centro. Abasolo Guanajuato 36970. México.</p>
          </hgroup>
          <a href="#" class="py-2 px-3 bg-denny-blue-100 text-white rounded-full">Ver mapa</a>
        </article>
        <article class="shadow-md p-4 rounded-xl max-w-xs bg-white">
          <hgroup class="mb-6">
            <h2 class="">Abasolo</h2>
            <p>Lerdo de Tejada 109, Zona Centro. Abasolo Guanajuato 36970. México.</p>
          </hgroup>
          <a href="#" class="py-2 px-3 bg-denny-blue-100 text-white rounded-full">Ver mapa</a>
        </article>
        <article class="shadow-md p-4 rounded-xl max-w-xs bg-white">
          <hgroup class="mb-6">
            <h2 class="">Abasolo</h2>
            <p>Lerdo de Tejada 109, Zona Centro. Abasolo Guanajuato 36970. México.</p>
          </hgroup>
          <a href="#" class="py-2 px-3 bg-denny-blue-100 text-white rounded-full">Ver mapa</a>
        </article>
      </div>
    </section>

    <!-- Categories list -->
    <section class="mt-12 py-5">
      <div class="container">
        <h2 class="font-bold text-denny-blue-300 text-center text-xl">¿Buscas algún producto en especial?</h2>
        <div class="categories__wrapper grid grid-cols-[repeat(auto-fit,minmax(200px,1fr))] lg:grid-cols-4 gap-4 justify-items-center mt-6 mb-8 overflow-hidden">
          {categories.map(category => {
            return (<Category name={category.name} imgSrc={category.image}/>)
          })}
        </div>
        <button id="btn-more-categories" class="flex items-center mx-auto text-denny-blue-100 font-bold">
          <strong>Ver más categorías</strong>
          <span class="inline-block rotate-180 ml-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-triangle" width="14" height="14" viewBox="0 0 24 24" stroke-width="1" stroke="#0D6FFF" fill="#0D6FFF" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" />
            </svg>
          </span>
        </button>
      </div>
    </section>

    <!-- Share section -->
    <section class="min-h-[25vh] grid place-items-center my-8">
      <Share/>
    </section>
  </div>
</main>
</Layout>
