---
  interface Props {
    name: string,
    imgSrc: string,
    nameVisible?: boolean
  };

  const {name, imgSrc, nameVisible = true} = Astro.props;
---

<a href="#" class="inline-grid">
  <figure>
    <img src={imgSrc} alt={`Marca - ${name}`} class="">
    {
      nameVisible && <h3><figcaption class="text-center mt-2 text-denny-dark-400">{name}</figcaption></h3>
    }
  </figure>
</a>
