---
  interface Props {
    name: string,
    imgSrc: string
  }

  const {name, imgSrc} = Astro.props

---


<article class="w-full">
  <a href="/categorias">
    <figure class="flex items-center justify-center max-w-[120px] mx-auto">
      <img src={imgSrc} alt={`Categoria-${name}`} class="w-full h-full object-cover mr-4">
      <figcaption class="md:text-lg text-denny-dark-400">{name}</figcaption>
    </figure>
  </a>
</article>

