<header>
  <div class="flex items-center bg-denny-blue-300 text-white min-h-[50px] px-6">
    <p>Llámanos: +52 (462) 113 09 53</p>
  </div>
  <div class="md:min-h-[90px] py-3 grid grid-cols-3 items-center px-6 bg-white text-denny-dark-300 shadow-md relative">
    <button class="md:hidden">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="28" height="28" viewBox="0 0 24 24" stroke-width="1" stroke="#666666" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <line x1="4" y1="6" x2="20" y2="6" />
          <line x1="4" y1="12" x2="20" y2="12" />
          <line x1="4" y1="18" x2="20" y2="18" />
        </svg>
      </span>
    </button>
    <nav class="absolute top-0 -left-full md:static md:left-auto justify-self-start">
      <ul class="flex flex-col md:flex-row gap-3">
        <li class="font-bold"><a href="/" class="hover:opacity-75 transition-opacity delay-75 ease-in">Inicio</a></li>
        <li class="font-bold"><a href="#" class="hover:opacity-75 transition-opacity delay-75 ease-in">Productos</a></li>
        <li class="font-bold"><a href="#" class="hover:opacity-75 transition-opacity delay-75 ease-in">Nosotros</a></li>
        <li class="font-bold"><a href="#" class="hover:opacity-75 transition-opacity delay-75 ease-in">Sucursales</a></li>
        <li class="font-bold"><a href="#" class="hover:opacity-75 transition-opacity delay-75 ease-in">Blog</a></li>
      </ul>
    </nav>
    <a href="/" class="inline-flex w-28 md:w-36 md:-mt-11 justify-self-center">
      <img src="/logo.svg" alt="Dulcerias Denny Logo" class="w-full h-full object-cover"/>
    </a>
    <div class="justify-self-end">
      <button class="py-2 px-3 rounded-3xl text-sm font-semibold bg-denny-blue-100 text-white">
        Contactanos
      </button>
    </div>
  </div>
</header>
