---
	import '../global.css';
	import Header from '@components/Header.astro';

	interface Props {
		titlePage: string
		descriptionPage: string
	}

	const {
		titlePage = 'Proveedores de Dulces al por Mayor | Dulcerías Denny',
		descriptionPage = 'Contamos con 130 marcas diferentes de caramelos, chocolates, paletas, y más. Nuestros 30 años de experiencia nos respaldan. ¡Visítanos hoy mismo!'
	} = Astro.props;
---


<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={descriptionPage}>
		<title>{titlePage}</title>
	</head>
	<body>
		<div class="wrapper-web">
			<Header/>
			<slot/>
		</div>
	</body>
</html>


<style>
	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/Roboto-Regular.woff2') format('woff2'),
		url('/fonts/Roboto-Regular.ttf') format(truetype);
	}
	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url('/fonts/Roboto-Medium.woff2') format('woff2'),
		url('/fonts/Roboto-Medium.ttf') format(truetype);
	}
	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url('/fonts/Roboto-Bold.woff2') format('woff2'),
		url('/fonts/Roboto-Bold.ttf') format(truetype);
	}
	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 900;
		font-display: swap;
		src: url('/fonts/Roboto-Black.woff2') format('woff2'),
		url('/fonts/Roboto-Black.ttf') format(truetype);
	}

	html, body {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
	}
</style>
